<!DOCTYPE html>
<html lang="en" id="contE">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-15B43GLF5G"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            
            gtag('config', 'G-15B43GLF5G');
            </script>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="../baseStyle.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="icon" type="image/png" href="/img.png" />
        <script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css">
        <title>Stradr: Home</title> 
        <meta charset="utf-8">
        <meta lang="en-us">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
        <meta name="description" content="Stradr, a free online site where you can trade real stocks with simulated money.  Use in education settings, for practice with stock trading, or to learn about the stock market.  Trade stocks for free, risk free.">
        <script async src="https://api.countapi.xyz/hit/stradr.com/3dce0bd0-6623-42fa-a56c-8d5a86897158?callback=cb"></script>
    </head>
    <body>
        <noscript>
            <div id="noScriptElm">
                <style type="text/css">
                    body {
                        overflow: hidden !important;
                    }
                    #pageContainer, #footer, #cookies {
                        display: none !important;
                    }
                </style>
                <div id="noScriptContent">
                    <img id="deadRobotImg" src="deadRobot.png" alt="Enable JavaScript"></img>
                    <h1 id="noScriptTitle">JavaScript is required to use this website.</h1>
                </div>
            </div>
        </noscript>
            <div id="mobileTop">
                <div id="leftHamburger">
                    <button onclick="openMenu()"><span id="icon" class="material-symbols-outlined">menu</span></button>
                    <style>
                        .material-symbols-outlined {
                            font-variation-settings:
                            'FILL' 0,
                          'wght' 400,
                          'GRAD' 0,
                          'opsz' 48
                        }
                    </style>
                    <a href="/" aria-label="Homepage"><span id="logoText">Stradr</span></a>
                </div>
                    <div id="dropdown" class="fade-in">
                        <div id="dropdownContainer">
                            <a href="/"  aria-label="Homepage">
                                <div id="home">
                                    <span>Home</span>
                                </a>
                                    <button id="closeMenuButton" onclick="closeMenu()">X</button>
                                </div>
                            <a href="/market" aria-label="Market">
                                <div id="market"><span>Market</span></div>
                            </a>
                            <a href="/positions" aria-label="Positions">
                                <div id="positions"><span>Positions</span></div>
                            </a>
                            <a href="/leaderboards" aria-label="Leaderboards">    
                                <div id="account"><span>Leaderboards</span></div>
                            </a>
                            <a href="/account" aria-label="Account settings">    
                                <div id="account"><span>Account</span></div>
                            </a>
                        </div>
                    </div>
                <a id="accountLink" href="/account" aria-label="Account settings">
                    <div id="accountSect">
                        <span class="material-symbols-outlined" id="mobileAccountIcon">person</span>
                        <h1 id="mobileAccountTitle"><%=name%></h1>
                    </div>
                </a>
            </div>
            <!--<div id="verifyNotif">
                <div id="verifySubnotif">
                    <p>Verify your email -- click the link in your inbox</p>
                    <button onclick="closeVerify()">X</button>
                </div>
            </div>-->
            <div id="topContainer">
                <div id="topBar">
                    <div id="logoContent">
                        <div id="Logo">
                            <a href="/" aria-label="Homepage"><span id="logoText">Stradr</span></a>
                            
                        </div>
                    </div>
                    <div id="otherContent">
                    <div id="Market" class="topSect">
                        <a href="/market" aria-label="Market">
                            <span id="marketText">Market</span>
                        </a>
                    </div>
                    <div id="Positions" class="topSect">
                        <a href="/positions" aria-label="Positions">
                            <span id="positionsText">Positions</span>
                        </a>
                    </div>
                    <div id="Leaderboards" class="topSect">
                        <a href="/leaderboards" aria-label="Leaderboards">
                            <span id="leaderboardsText">Leaderboards</span>
                        </a>
                    </div> 
                    <div id="Account" class="topSect">
                        <a href="/register" aria-label="Register"> <!--Conditionally redirects based on user login state-->
                            <div id="accountSubwrapper">
                                <span class="material-symbols-outlined">person</span>
                            <div id="rightText">
                                <p id="accountText"><%=name%></p>
                                <p id="accountSubtitle">Account settings</p>
                            </div>
                            </div>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
            <div id="blurPanel"></div>
            <div id="tutorialPanel">
                <div id="tutorialContainer">
                    <div id="imageContainer">
                        <img id="topImage" src="/stradr340.png" alt="Stradr logo"/>
                        <div id="dotsContainer">
                            <svg width="20px" height="20px" viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg">
                                <circle id="circle1"
                                r="0.1"
                                cx="0.5"
                                cy="0.5"
                                stroke="rgb(100, 100, 100)"
                                fill="rgb(100, 100, 100)"
                                stroke-width="0.3" />
                            </svg>
                            <svg width="20px" height="20px" viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg">
                                <circle id="circle2"
                                r="0.1"
                                cx="0.5"
                                cy="0.5"
                                stroke="rgb(200, 200, 200)"
                                fill="rgb(200, 200, 200)"
                                stroke-width="0.3" />
                            </svg>
                            <svg width="20px" height="20px" viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg">
                                <circle id="circle3"
                                r="0.1"
                                cx="0.5"
                                cy="0.5"
                                stroke="rgb(200, 200, 200)"
                                fill="rgb(200, 200, 200)"
                                stroke-width="0.3" />
                            </svg>
                            <svg width="20px" height="20px" viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg">
                                <circle id="circle4"
                                r="0.1"
                                cx="0.5"
                                cy="0.5"
                                stroke="rgb(200, 200, 200)"
                                fill="rgb(200, 200, 200)"
                                stroke-width="0.3" />
                            </svg>
                            <svg width="20px" height="20px" viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg">
                                <circle id="circle5"
                                r="0.1"
                                cx="0.5"
                                cy="0.5"
                                stroke="rgb(200, 200, 200)"
                                fill="rgb(200, 200, 200)"
                                stroke-width="0.3" />
                            </svg>
                        </div>
                    </div>
                    <h1 id="tutorialTitle">Stradr: stocks without risk</h1>
                    <p id="tutorialExplanationText">Stradr uses simulated money instead of real money to make stock trades, so you can practice using the stock market without losing money.  Click next to learn more.</p>
                    <button id="nextButton" class="dropbtn" onclick="next()">Next</button>
                    <a aria-label="Go back a panel" onclick="return back()" id="goBack">Go back</a>
                </div>
            </div>
            <div id="sectionalWrapper">
                <div id="leftSection">
                    <div id="accountValue" class="boxShadow">
                        <div id="actValSubpanel">
                            <div id="valTextPanel">
                                <h3 id="accountValueText"><%=accountValue%></h3>
                                <div id="Meaning">
                                    <h2 id="percentageActValChange"><%=accountPercentageChange%> (<span id="change">...</span>)</h2>
                                    <h4 id="percSubtitle">Since last market close <span id="noCont">(<span id="time"></span> ago)</span></h4>
                                    <p id="buyingPower">Buying power:  <span id="buyingPowerSpan"></span></p>
                                </div>
                                <div id="infoBlurb">
                                    <p id="blurbText">Account value percentage change is updated in respect to the last time you were active, assuming this was more than a day ago.</p>
                                    <span id="infoBlurbTail"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="positionsDetail" class="boxShadow">
                        <span id="positionsSubwrapper">
                            <h3 id="positionsTitle">Positions (<span id="positionsCount"></span>)</h3>
                            <div id="posCardWrapper">
                                
                                <a aria-label="View position" class="posCardLink" href="" id="posCardLink1">
                                    <div class="positionsCard">
                                        <div class="titleContainerSum">
                                            <h3><span id="stock1Title"></span><span id="removeIfAbsent1"> (<span><span id="arrow1"></span><span id="stock1Perc"></span></span>)</span></h3>                                        </div>
                                        <div class="subText">
                                            <h4 id="stockPricePos1" class="stockPriceSubt">$--.--</h4>                                        
                                        </div>
                                    </div>
                                </a>

                                <a aria-label="View position" class="posCardLink" href="" id="posCardLink2">
                                    <div class="positionsCard">
                                        <div class="titleContainerSum">
                                            <h3><span id="stock2Title"></span><span id="removeIfAbsent2"> (<span><span id="arrow2"></span><span id="stock2Perc"></span></span>)</span></h3>                                        </div>
                                        <div class="subText">
                                            <h4 id="stockPricePos2" class="stockPriceSubt">$--.--</h4>                                        
                                        </div>
                                    </div>
                                </a>

                                <a aria-label="View position" class="posCardLink" href="" id="posCardLink3">
                                    <div class="positionsCard">
                                        <div class="titleContainerSum">
                                            <h3><span id="stock3Title"></span><span id="removeIfAbsent3"> (<span><span id="arrow3"></span><span id="stock3Perc"></span></span>)</span></h3>
                                        </div>
                                        <div class="subText">
                                            <h4 id="stockPricePos3" class="stockPriceSubt">$--.--</h4>                                        
                                        </div>
                                    </div>
                                </a>

                                <a aria-label="View position" class="posCardLink" href="" id="posCardLink4">
                                    <div class="positionsCard">
                                        <div class="titleContainerSum">
                                            <h3><span id="stock4Title"></span><span id="removeIfAbsent4"> (<span><span id="arrow4"></span><span id="stock4Perc"></span></span>)</span></h3>                                        </div>
                                        <div class="subText">
                                            <h4 id="stockPricePos4" class="stockPriceSubt">$--.--</h4>
                                        </div>
                                    </div>
                                </a>

                                <a aria-label="All positions" href="/positions" id="seeAllPositions">See all</a>
                            
                            </div>
                        </span>
                        <h2 id="noStonks">No Stocks. <a aria-label="Market" href="/market">Buy some?</a></h2>
                    </div>
                </div>
                <div id="trendingPanel">
                    <div id="groupPanel" class="boxShadow">
                        <div id="groupsTitleCont">
                            <h2 id="groupPanelTitle">Groups</h2>
                            <p id="rankingSubtitle">Ranking</p>
                        </div>
                        <div id="groupInsert">
                            <a href="/groups" id="groupLinkCont"><p id="noGroups">Join group <span class="material-symbols-outlined">add_circle</span></p></a>
                        </div>
                    </div>
                    <div class="boxShadow" id="trendingStocksPanel">
                        <div id="trendingTitleDiv">
                            <span id="trendingTitle">Trending stocks</span>
                        </div>
                        <div id="stockList">    
                            <div class="tradingview-widget-container">
                                <div class="tradingview-widget-container__widget"></div>
                                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js" async>
                                    {
                                    "symbol": "AAPL",
                                    "width": "100%",
                                    "colorTheme": "light",
                                    "isTransparent": true,
                                    "locale": "en",
                                    "largeChartUrl": "https://stradr.com/market"
                                    }
                                </script>
                            </div>
                            <div class="tradingview-widget-container">
                                <div class="tradingview-widget-container__widget"></div>
                                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js" async>
                                    {
                                    "symbol": "MSFT",
                                    "width": "100%",
                                    "colorTheme": "light",
                                    "isTransparent": true,
                                    "locale": "en",
                                    "largeChartUrl": "https://stradr.com/market"
                                    }
                                </script>
                            </div>
                            <div class="tradingview-widget-container">
                                <div class="tradingview-widget-container__widget"></div>
                                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js" async>
                                    {
                                    "symbol": "GOOG",
                                    "width": "100%",
                                    "colorTheme": "light",
                                    "isTransparent": true,
                                    "locale": "en",
                                    "largeChartUrl": "https://stradr.com/market"
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer id="footer">
                <div id="footerSubcontent">
                    <div id="footerTextWrapper">
                        <div id="columnOne">
                            <p id="col1Title"><strong>Stradr&trade;</strong></p>
                            <br>
                            <a href="/about" aria-label="About"><span>About</span></a>
                            <a href="/privacy" aria-label="Privacy"><span>Privacy</span></a>
                            <a href="/use" aria-label="Use policy"><span>Use policy</span></a>
                            <a href="/api" aria-label="API"><span>API</span></a>
                            <a href="/contact" aria-label="Contact"><span>Contact</span></a>
                        </div>
                        <div id="columnTwo">
                            <br>
                            <a href="/sitemap" aria-label="Sitemap"><span>Sitemap</span></a>
                            <a href="/presskit" aria-label="Press kit"><span>Press kit</span></a>
                            <a href="/metrics" aria-label="Metrics"><span>Metrics</span></a>
                            <a target="_blank" href="https://twitter.com/StradrOfficial" aria-label="Twitter"><span>Twitter</span></a>
                            <a target="_blank" href="https://www.youtube.com/channel/UCrNdGJQ2ZOKFBv8Zh-zhmyQ/featured" aria-label="YouTube"><span>YouTube</span></a>  
                            <a href="/bugs" aria-label="Bugs"><span>Bugs</span></a>
                        </div>
                        <div id="rightFlex">
                            <br>
                            <span id="Credit">A <a href="https://samuelkeller.com" aria-label="Samuel Keller website" target="_blank" id="nameSublink">Samuel Keller</a> production</span>
                            <div id="versionNumberContainer"><embed src="/versionNumber.html"></div>
                        </div>
                    </div>
                </div>
            </footer>

            <!--Cookies-->

            <link rel="stylesheet" href="/cookieStyle.css">

            <div id="cookies">
                <h2>Allow cookies?</h2>
                <div id="cookieButtons">
                    <button id="acceptCookies" onclick="acceptCookies()">Accept</button>
                    <button id="declineCookies" onclick="declineCookiesInitial()">Decline</button>
                </div>
            </div>

            <div id="fullScreenBlur"></div>

            <div id="confirmationPanel">
                <h2 id="confirmationTitle">Decline cookies?</h2>
                <p id="confirmationText">Cookies are important to the functionality of this website.  If you decline cookies, you'll have to log in again every time you refresh this page, and metrics can't be collected that improve your experience.  Accepting cookies is strongly recommended.</p>
                <div id="reallyButtonsCont">
                    <button id="reallyAccept" onclick="acceptCookies()">Accept</button>
                    <button id="reallyDecline" onclick="declineCookies()">Decline</button>
                </div>
            </div>

            <script defer>
                const confirmation = document.getElementById('confirmationPanel');
                const cookiePanel = document.getElementById('cookies');
                const blur = document.getElementById('fullScreenBlur');
                
                if (!document.cookie.includes('consent')) {
                    cookiePanel.style.display = "flex";
                } else {
                    cookiePanel.style.display = "none";
                }
                function declineCookiesInitial() {
                    cookiePanel.style.display = "none";
                    confirmation.style.display = "flex";
                    blur.style.display = "inherit";
                }
                function acceptCookies () {
                    console.log("Accepted cookies");
                    document.cookie = "consent=true;";
                    cookiePanel.style.display = "none";
                    confirmation.style.display = "none";
                    blur.style.display = "none";
                }
                function declineCookies () {
                    //Cookies for storing cookie preferences are exempt from EU laws
                    document.cookie += "consent:false;";
                    confirmation.style.display = "none";
                    blur.style.display = "none";
                }
            </script>

            <!--End of cookies-->
        <script>
            console.log("Stradr, created by Samuel Keller, 2023.  All rights reserved.");
            //Tutorial
            const tutorial = '<%=tutorial%>';
            const tutorialPanel = document.getElementById('tutorialPanel');
            const blurPanel = document.getElementById('blurPanel');
            if (tutorial.toString() == "true") {
                tutorialPanel.style.display = "flex";
                blurPanel.style.display = "inherit";
            }
            let tutorialNum = 1;
            const topImage = document.getElementById('topImage');
            const bottomHeading = document.getElementById('tutorialTitle');
            const bottomText = document.getElementById('tutorialExplanationText');
            function next () {
                tutorialNum++;
                if (tutorialNum < 6) {
                    document.getElementById('circle' + tutorialNum).style.fill = "rgb(100, 100, 100)";
                    document.getElementById('circle' + (tutorialNum-1)).style.fill = "rgb(200, 200, 200)";
                    document.getElementById('circle' + tutorialNum).style.stroke = "rgb(100, 100, 100)";
                    document.getElementById('circle' + (tutorialNum-1)).style.stroke = "rgb(200, 200, 200)";
                }
                switch (tutorialNum) {
                    case 2:
                        topImage.src = "dollar340.png";
                        bottomHeading.innerHTML = "Account value";
                        bottomText.innerHTML = "Your account value is the big number at the top of the home screen.  It displays the total value of all of your stocks plus the amount of buying power (uninvested money) you have.  Try and increase this number.";
                        break;
                    case 3:
                        topImage.src = "stockGains340.png";
                        bottomHeading.innerHTML = "Stocks";
                        bottomText.innerHTML = "Your four largest stocks (positions) are displayed at the bottom of your screen in the positions panel, but you can buy and sell as many as you want.  Buy stocks at the lowest price possible and sell at the highest price possible to make money.";
                        break;
                    case 4:
                        topImage.src = "moneyStacks3340.png";
                        bottomHeading.innerHTML = "Markets";
                        bottomText.innerHTML = "Stradr supports many stock markets, meaning that you should be able to trade almost any stock you'd like.  For the most part, markets open at 9:30 AM and close at 4:00 PM. The percentage change statistic below your account value displays how your account value has changed since the market last opened.";
                        break;
                    case 5:
                        topImage.src = "adventures340.png";
                        bottomHeading.innerHTML = "Using Stradr";
                        bottomText.innerHTML = "Use Stradr to gain experience using the stock market using simulated money, so that you'll be ready for using the real stuff when the time comes.  All the data you see in Stradr is from the real stock markets, and all losses and gains are exactly what you'd experience in the real world, so it's great practice.  Good luck!";
                        document.getElementById("nextButton").innerHTML = "Close";
                        break;
                    case 6:
                        tutorialPanel.style.display = "none";
                        blurPanel.style.display = "none";
                        break;
                    default:
                        console.log("Error switching tutorial panels");
                        break;
                }
            }
            function back () {
                if (tutorialNum > 1) {
                    tutorialNum--;
                    if (tutorialNum < 6) {
                        document.getElementById('circle' + tutorialNum).style.fill = "rgb(100, 100, 100)";
                        document.getElementById('circle' + (tutorialNum+1)).style.fill = "rgb(200, 200, 200)";
                        document.getElementById('circle' + tutorialNum).style.stroke = "rgb(100, 100, 100)";
                        document.getElementById('circle' + (tutorialNum+1)).style.stroke = "rgb(200, 200, 200)";
                    }
                    switch (tutorialNum) {
                        case 1: 
                            topImage.src = "stradr340.png";
                            bottomHeading.innerHTML = "Stradr: stocks without risk";
                            bottomText.innerHTML = "Stradr uses simulated money instead of real money to make stock trades, so you can practice using the stock market without losing money.  Click next to learn more.";
                            break;
                        case 2:
                            topImage.src = "dollar340.png";
                            bottomHeading.innerHTML = "Account value";
                            bottomText.innerHTML = "Your account value is the big number at the top of the home screen.  It displays the total value of all of your stocks plus the amount of buying power (uninvested money) you have.  Try and increase this number.";
                            break;
                        case 3:
                            topImage.src = "stockGains340.png";
                            bottomHeading.innerHTML = "Stocks";
                            bottomText.innerHTML = "Your four largest stocks (positions) are displayed at the bottom of your screen in the positions panel, but you can buy and sell as many as you want.  Buy stocks at the lowest price possible and sell at the highest price possible to make money.";
                            break;
                        case 4:
                            topImage.src = "moneyStacks3340.png";
                            bottomHeading.innerHTML = "Markets";
                            bottomText.innerHTML = "Stradr supports many stock markets, meaning that you should be able to trade almost any stock you'd like.  For the most part, markets open at 9:30 AM and close at 4:00 PM. The percentage change statistic below your account value displays how your account value has changed since the market last opened.";
                            break;
                        case 5:
                            topImage.src = "adventures340.png";
                            bottomHeading.innerHTML = "Using Stradr";
                            bottomText.innerHTML = "Use Stradr to gain experience using the stock market using simulated money, so that you'll be ready for using the real stuff when the time comes.  All the data you see in Stradr is from the real stock markets, and all losses and gains are exactly what you'd experience in the real world, so it's great practice.  Good luck!";
                            document.getElementById("nextButton").innerHTML = "Close";
                            break;
                        case 6:
                            tutorialPanel.style.display = "none";
                            blurPanel.style.display = "none";
                            break;
                        default:
                            console.log("Error switching tutorial panels");
                            break;
                    }
                }
            }
        </script>
        <script>
            const posString = '<%=positionString%>';
            let stockPriceArr = '<%=stockPriceArr%>';
            
            stockPriceArr = stockPriceArr.split(';');
            stockPriceArr.shift();
                        
            document.getElementById('positionsCount').innerHTML = stockPriceArr.length;
            if (posString == "--|--|--|--") {
                document.getElementById('positionsSubwrapper').style.display = "flex";
                document.getElementById('noStonks').style.display = 'none';
                for (u = 1; u <= 5; u++) {
                    document.getElementById('stock' + u + 'Title').innerHTML = "-----";
                    document.getElementById('removeIfAbsent' + u).style.display = "none";
                }
            } else {
                if (stockPriceArr.length == 0) {
                    document.getElementById('positionsSubwrapper').style.display = 'none';
                    document.getElementById('noStonks').style.display = 'inherit';
                } else {
                    document.getElementById('positionsSubwrapper').style.display = "flex";
                    document.getElementById('noStonks').style.display = 'none';
                    for (let i = 1; i <= stockPriceArr.length; i++) {
                        if (i > 4) {
                            break;
                        }
                        let thisElm = stockPriceArr[i-1];
                        document.getElementById('stock'+[i]+'Title').innerHTML += thisElm.split('|')[0];
                        let price = thisElm.split('|')[1].split('#')[0];
                        document.getElementById('stockPricePos' + [i]).innerHTML = '$' + parseFloat(price).toFixed(2);
                        let percentage = thisElm.split('(')[1].split(')')[0];
                        document.getElementById('stock' + [i] + 'Perc').innerHTML = percentage;
                        if (parseFloat(percentage) < 0) {
                            document.getElementById('stock' + [i] + 'Perc').style.setProperty('color', 'rgb(255, 0, 0)', 'important');
                            document.getElementById('arrow' + [i]).style.setProperty('color', 'rgb(255, 0, 0)', 'important');
                            document.getElementById('arrow' + [i]).innerHTML = '&darr;';
                        } else {
                            document.getElementById('stock' + [i] + 'Perc').style.setProperty('color', 'rgb(0, 255, 0)', 'important');
                            document.getElementById('arrow' + [i]).innerHTML = '&uarr;';
                            document.getElementById('arrow' + [i]).style.setProperty('color', 'rgb(0, 255, 0)', 'important');
                        }
                        document.getElementById('posCardLink' + [i]).href = '/stock/' + thisElm.split('|')[0];
                    }
                }
                if (stockPriceArr.length < 4) {
                
                for (let u = 4; u > stockPriceArr.length; u--) {
                    document.getElementById('removeIfAbsent' + u).style.display = "none";
                }
                for (let g = 4; g > stockPriceArr.length; g--) {
                    document.getElementById('stockPricePos' + g).style.display = "none";                    
                }
                }
            }
        </script>
        <script>
            const buyingPower = '<%=buyingPower%>';
            document.getElementById('buyingPowerSpan').innerHTML = '$' + parseFloat(buyingPower).toFixed(2).toString().replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
        </script>
        <script>
            const elem = document.getElementById('percentageActValChange');
            const percChange = '<%=accountPercentageChange%>';
            if (!(percChange == "Market closed")) {
                if (parseFloat(percChange) >= 0 || percChange == "+--.--%") {
                    elem.style.setProperty('color', 'rgb(0, 255, 0)', 'important');
                } else {
                    elem.style.setProperty('color', 'rgb(255,0,0)', 'important');
                }
            }
        </script>
        <script>
            const dropdown = document.getElementById('dropdown');
            function openMenu () {
                if (dropdown.style.display == "none" || !dropdown.style.display) {
                    dropdown.style.display = "flex";
                }
            }
            function closeMenu () {
                dropdown.style.display = "none";
            }
        </script>
        <script>
            
            const percDiff = '<%=accountPercentageChange%>';
            const accountValue = '<%=accountValue%>';
            const percDiffNum = parseFloat(percDiff.split('%')[0]);
            
            const formattedVal = parseFloat(accountValue.replace(/\,/g,'').substring(1));
            function getOrig (aftNum, change) {
	            return ((aftNum)/((change/100)+1)).toFixed(2);
            }
            try {
                const val = parseFloat(getOrig(formattedVal, percDiffNum));
                if (isNaN(val)) {
                    document.getElementById("change").innerHTML = "$--.--";
                } else {
                    let ultDiff = (formattedVal - parseFloat(getOrig(formattedVal, percDiffNum))).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
                    if (ultDiff.includes('-')) {
                        ultDiff = ultDiff.split('-')[1];
                        document.getElementById("change").innerHTML = '-$' + ultDiff;
                    } else {
                        document.getElementById("change").innerHTML = '$' + ultDiff;
                    }
                    if (percDiffNum >= 0) {
                        document.getElementById("change").style.setProperty('color', 'rgb(0, 255, 0)', 'important');
                    } else {
                        document.getElementById("change").style.setProperty('color', 'rgb(255, 0, 0)', 'important');                        
                    }
                }
            } catch (err) {
                console.log("ERROR: " + err);
            }
        </script>
        <script>
            const addStr1 = JSON.parse('<%-addStr%>');   
            if (addStr1.darkMode != 'false') {
                if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches || addStr1.darkMode == 'true') {
                    document.head.innerHTML += '<link rel="stylesheet" href="/darkMode.css">';
                }
            }
            
            let currencyArr = [document.getElementById('accountValueText'), document.getElementById('stockPricePos1'), document.getElementById('stockPricePos2'), document.getElementById('stockPricePos3'), document.getElementById('stockPricePos4'), document.getElementById('buyingPowerSpan'), document.getElementById('change')];
            switch (addStr1.currency) {
                case "USD":
                    break;
                case "GBP":
                    for (let b = 0; b < currencyArr.length; b++) {
                        if (currencyArr[b].innerHTML.includes('$')) {
                            currencyArr[b].innerHTML = '&pound;' + currencyArr[b].innerHTML.split('$')[1]
                        }
                    }
                    break;
                case "EUR":
                    for (let b = 0; b < currencyArr.length; b++) {
                        if (currencyArr[b].innerHTML.includes('$')) {
                            currencyArr[b].innerHTML = '&euro;' + currencyArr[b].innerHTML.split('$')[1]
                        }
                    }
                    break;
                default: 
                    console.log("Error converting currency");
                    break;
            }
        </script>
        <script>
            const groups = '<%=groups%>'.split(',');
            const groupIds = '<%=groupIds%>'.split(',');
            const groupPositions = '<%=groupPositions%>'.split(',');
            const groupInsert = document.getElementById('groupInsert');
            
            let groupContent = false;
            for (let i = 0; i < groups.length; i++) {
                if (groups[i] != '' && groups[i] != 'Error') {
                    groupContent = true;
                    break;
                }
            }
            if (groups.length > 0 && groupContent) {
                document.getElementById('rankingSubtitle').style.display = 'inherit';
                for (let i = 0; i < groups.length; i++) {
                    if (groups[i] != 'Error' && groups[i] != '') {
                        groupInsert.insertAdjacentHTML('afterbegin', 
                        `<div class="groupSect">
                            <a href="/group/` + groupIds[i] + `" class="groupLink">
                                <div class="innerGroupFlex">
                                    <p class="groupName">` + groups[i] + `</p>
                                    <span class="openIcon material-symbols-outlined">open_in_new</span>
                                </div>
                                <p class="ranking">#` + groupPositions[i] + `</p>
                            </a>
                        </div>`
                        );
                    }
                }
            }
        </script>
        <script>
            //ChatGPT was able to fully produce the code from here
            const valueHistory = '<%=valueHistory%>';
            const lastClose = valueHistory.split('|')[valueHistory.split('|').length - 1].split('!')[1];
            const startingDate = new Date(lastClose.split('-')[2] + '-' + lastClose.split('-')[0] + '-' + lastClose.split('-')[1] + 'T16:00:00');
            const currentDate = new Date();
            const diffInMilliseconds = currentDate.getTime() - startingDate.getTime();
            const hours = Math.floor(diffInMilliseconds / (1000 * 60 * 60));
            const minutes = Math.floor(diffInMilliseconds / (1000 * 60));
            const days = Math.floor(diffInMilliseconds / (1000 * 60 * 60 * 24));
            //To here, which is incredible.
            if (days == "0") {
                document.getElementById('time').innerHTML = hours%24 + "h " + minutes%60 + "m ";
            } else {
                document.getElementById('time').innerHTML = days + "d " + hours%24 + "h " + minutes%60 + "m ";
            }
            if (valueHistory.split('|').length == 2) {
                document.getElementById('noCont').style.display = "none";
            }
        </script>
        <!--<script>
            const emailVerified = '<%=emailVerified%>';
            if (emailVerified != "true") {
                document.getElementById('verifyNotif').style.display = "inherit";                
            }
            function closeVerify () {
                document.getElementById('verifyNotif').style.display = "none";
            }
        </script>-->
        <script>
            const accountSubtitle = document.getElementById('accountSubtitle');
            const namePass = '<%=name%>';
            if (namePass == "Sign up") {
                accountSubtitle.style.display = 'none';
            }
        </script>
        </div>
    </body>
</html>
